{{ define "main" }}
<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10 col-xl-8">
		<article>
			<h1 class="text-center">{{ .Title }}</h1>
			<div class="text-center">{{ .Content }}</div>
			<div class="card-list">
				{{ range .Site.Taxonomies.categories.instructions }}
				<div class="card my-3">
					{{- .Scratch.Set "fillImage" "1270x620 Center" -}}
					{{ partial "content/card-image.html" . }}
					<div class="card-body">
						<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
					</div>
				</div>
				{{ end }}
			</div>
		</article>
	</div>
</div>
{{ end }}
